export PATH=/usr/local/go-tip/bin:$PATH

# Ignore linter noise on Protobuffer generated sources and the most annoying
# golint warning. Deadline up to 5m, because ^C.
alias gometalinter="gometalinter --vendor -e'warning: exported .+ or be unexported \(golint\)' -e'.+\.pb\.go:.+' --disable=gas --deadline=5m"
alias gocoverhtml='go test --covermode atomic --coverprofile cover.out ; go tool cover --html cover.out -o cover.html'
